
input[type="text"] {
    all: unset; /* Resetea todos los estilos */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    outline: none; /* Sin outline al enfocarse */
    font: inherit; /* Usa el estilo de fuente del contenedor */
    color: inherit; /* Usa el color de texto del contenedor */
    padding: 0; /* Quita el padding */
    margin: 0; /* Quita el margin */
    box-sizing: border-box; /* Asegura que el tamaño incluye padding y bordes */
  }

.chat {
    @include center;
    width: 600px;
    height: 80vh;
    max-height: 500px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  
  /*--------------------
  Chat Title
  --------------------*/
  .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
    
    h1, h2 {
      font-weight: normal;
      font-size: 10px;
      margin: 0;
      padding: 0;
    }
    
    h2 {
      color: rgba(255, 255, 255, .5);
      font-size: 8px;
      letter-spacing: 1px;
    }
    
    .avatar {
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 9px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  
  /*--------------------
  Messages
  --------------------*/

  .messages::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
  }

  .messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow-y: auto;
    position: relative;
    width: 100%;
    margin: 15px;
    
    & .messages-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 101%;
      width: 100%;
    }
  
    
    .message {
      clear: both;
      float: left;
      padding: 6px 10px 7px;
      border-radius: 10px 10px 10px 0;
      background: rgba(0, 0, 0, .3);
      margin: 8px 0;
      font-size: 11px;
      line-height: 1.4;
      margin-left: 35px;
      position: relative;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
      
      .timestamp {
        position: absolute;
        bottom: -15px;
        font-size: 9px;
        color: rgba(255, 255, 255, .3);
      }
      
      &::before {
        content: '';
        position: absolute;
        bottom: -6px;
        border-top: 6px solid rgba(0, 0, 0, .3);
        left: 0;
        border-right: 7px solid transparent;
      }
      
      .avatar {
        position: absolute;
        z-index: 1;
        bottom: -15px;
        left: -35px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 2px solid rgba(255, 255, 255, 0.24);
  
        img {
          width: 100%;
          height: auto;
        }
      }
      
      &.message-personal {
        float: right;
        color: #fff;
        text-align: right;
        background: linear-gradient(120deg, #248A52, #257287);
        border-radius: 10px 10px 0 10px;
        
        &::before {
          left: auto;
          right: 0;
          border-right: none;
          border-left: 5px solid transparent;
          border-top: 4px solid #257287;
          bottom: -4px;
        }
      }
      
      &:last-child {
        margin-bottom: 30px;
      }
      
      &.new {
        transform: scale(0);
        transform-origin: 0 0;
        animation: bounce 500ms linear both;
      }
      
      &.loading {
  
        &::before {
          @include ball;
          border: none;
          animation-delay: .15s;
        }
  
        & span {
          display: block;
          font-size: 0;
          width: 20px;
          height: 10px;
          position: relative;
  
          &::before {
            @include ball;
            margin-left: -7px;
          }
  
          &::after {
            @include ball;
            margin-left: 7px;
            animation-delay: .3s;
          }
        }
      }
      
    }
  }
  
  
  /*--------------------
  Message Box
  --------------------*/
  .message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    
    & .message-input {
      background: none;
      border: none;
      outline: none!important;
      resize: none;
      color: rgba(255, 255, 255, .7);
      font-size: 11px;
      height: 17px;
      margin: 0;
      padding-right: 20px;
      width: 265px;
    }
    
    textarea:focus:-webkit-placeholder{
        color: transparent;
    }
    
    & .message-submit {
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #fff;
      border: none;
      background: #248A52;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px; 
      border-radius: 10px;
      outline: none!important;
      transition: background .2s ease;
      
      &:hover {
        background: #1D7745;
      }
    }
  }
  
  
  /*--------------------
  Custom Srollbar
  --------------------*/
  .mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.5)!important;
  }
  
  
  /*--------------------
  Bounce
  --------------------*/
  @keyframes bounce { 
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
  @keyframes ball { 
    from {
      transform: translateY(0) scaleY(.8);
    }
    to {
      transform: translateY(-10px);
    }
  }
  

  .ctn-tool-main{
    /* background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/assets/components/main/img/starry-sky-night-with-landscape-mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 288px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 288px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 288px 5px rgba(0,0,0,0.75);
  }

  .login-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    margin-bottom: 20px;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  button-ctn-tools{
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  .div-respuesta{
    margin-right: 20px;
  }

  .Lati-logti{
    margin-top: 10px;
  }